# Ignore the IDEA of pycharm
.idea

# Ignore the data folder
popsim/data/*
popsim/output/*
# popsim/configs
popsim-input
popsim-output
achilles/data_popsim/source
**__pycache__
**.ipynb_checkpoints
**mel_validation_results

# Main
main.py